<div class="container mx-auto mt-10">
  <div class="sm:flex shadow-md my-10">
    <div class="  w-full  sm:w-3/4 bg-white py-10">
      <div class="flex justify-center border-b pb-8 w-full ">
        <app-search-bar
        (selectedId)="getProduc($event)"
        />        
      </div>
      <div class="productos px-10">
        <div
        *ngFor="let item of items"
        >
        <app-card-prod
        [title]="item.name"
        [price]="item.price"
        [cantidad]="item.cantidad"
        (delete)="deleteItem(item.id)"
        (add)="addItem(item.id)"
        />

        </div>
      </div>
    </div>
    <div id="summary" class=" w-full   sm:w-1/4   md:w-1/2     px-8 py-10">
      <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>
      <div class="flex justify-between mt-10 mb-5">
      </div>
      <div class="inp">
       <div class="names">
        <div class="py-2">
          <label
                for="promo"
                class="font-semibold inline-block mb-3 text-sm uppercase"
              >
                Customer name 
              </label>
          <input
          name="customerName"
          [(ngModel)]="customerName"
                type="text"
                id="promo"
                placeholder="Customer name"
                class="p-2 text-sm w-full"
              />
        </div>
        <div class="py-2">
          <label
                for="promo"
                class="font-semibold inline-block mb-3 text-sm uppercase"
              >
                Customer last name 
              </label>
          <input
          name="customerLastName"
          [(ngModel)]="customerLastName"
                type="text"
                id="promo"
                placeholder="Customer last name"
                class="p-2 text-sm w-full"
              />
        </div>
       </div>
        <div class="py-5">
          <label
                for="promo"
                class="font-semibold inline-block mb-3 text-sm uppercase"
              >
                Customer phone 
              </label>
          <input
          name="customerPhone"
          [(ngModel)]="customerPhone"
                type="text"
                id="promo"
                placeholder="Customer phone"
                class="p-2 text-sm w-full"
              />
        </div>
      </div>
      <button 
      (click)="deleteCart()"
      class="bg-red-500 hover:bg-red-600 px-5 py-2 text-sm text-white uppercase">
            delete all
          </button>
      <div class="border-t mt-8">
        <div class="flex font-semibold justify-between py-6 text-sm uppercase">
          <span>Total cost</span>
          <span>${{totalCost}}</span>
        </div>
        <button 
        (click)="getTotal()"
        [disabled]="!items.length || !customerName || !customerLastName || !customerPhone"
        class="bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full">
              Checkout
        </button>
      </div>
    </div>
  </div>
</div>


<app-alert-confirmation
*ngIf="showConfirmation"
(close)="closeConfirmation()"
(confirm)="confirmSale()"
[message]="message"
/>

<app-alert-success
*ngIf="showSuccess"
[message]="message"
/>

<app-alert-error
*ngIf="showError"
[message]="messageError"
/>