<div class="alert">
  <div
  role="alert"
  data-dismissible="alert"
  class="relative flex w-full max-w-screen-md px-4 py-4 text-base text-white bg-gray-900 rounded-lg font-regular">
  <div class="shrink-0">
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
    </svg>
  </div>
  <div class="ml-3 mr-12">
    <h5 class="block font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-white">
      Error
    </h5>
    <p class="block mt-2 font-sans text-base antialiased font-normal leading-relaxed text-white">
      {{message}}
    </p>
  </div>
</div>
</div>