input{
  font-size: 1.8rem;
}

.l{
  width: 100%;
}


.alert{
  position: absolute;
  width: 30%;
  bottom: 10vh;
  right: 0;
  z-index: 100;
  animation: slideIn 0.5s forwards;
}

/* Agrega estilos para resaltar campos de entrada en rojo cuando hay errores */
.error-input {
  border-color: red;
}

/* Desactiva el botón cuando hay errores */
.error-button {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Estilos de éxito para campos de entrada */
.success-input {
  border-color: green;
}

@keyframes slideOut {
  from {
      right: 0;
  }
  to {
      right: -100%;
  }
}
@keyframes slideIn {
  from {
      right: -100%;
  }
  to {
      right: 0;
  }
}