<div class="flex flex-col">
  <table class="min-w-full rounded-md border border-gray-300 table-auto">
    <thead>
    <tr class="text-left bg-gray-100 border-b border-gray-300">
      <th class="px-3 py-2 text-sm font-medium">Nombre</th>
      <th class="px-3 py-2 text-sm font-medium">Genero</th>
      <th class="px-3 py-2 text-sm font-medium">Especie</th>
      <th class="px-3 py-2 text-sm font-medium">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pet of petsR?.pets" class="border-b border-gray-300 hover:bg-gray-200">
      <td class="px-3 py-2 text-sm">{{pet.name}}</td>
      <td class="px-3 py-2 text-sm">{{pet.gender}}</td>
      <td class="px-3 py-2 text-sm">{{pet.specie}}</td>
      <td class="px-3 py-2 text-sm">
        <button class="bg-blue-400 text-white px-2 py-1 rounded" [routerLink]="['/dashboard/appointment/pet/update/', pet.id]">Modificar</button>
        <!--
                 <button class="bg-green-500 text-white px-2 py-1 rounded" [routerLink]="['/dashboard/appointment/complete', appointment.id]">Completar</button>
        <button class="bg-red-500 text-white px-2 py-1 rounded" [routerLink]="['/dashboard/appointment/cancel', appointment.id]">Rechazar</button>

         -->
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="petsR?.pets?.length === 0" class="text-center py-4">
    No tienes mascotas registradas.
  </div>
</div>
