<main class="h-full w-full flex justify-center items-center ml-5">
  <div class="relative flex flex-col w-full h-full text-gray-700 bg-white shadow-md rounded-xl bg-clip-border">
    <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white rounded-none bg-clip-border">
      <div class="flex items-center justify-between gap-8 mb-8">
        <div>
          <h5
            class="block font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
            Members list
          </h5>
          <p class="block mt-1 font-sans text-base antialiased font-normal leading-relaxed text-gray-700">
            See information about all members
          </p>
          <div class="flex flex-col items-center justify-between gap-4 md:flex-row relative z-50">
            <div class="block w-full overflow-hidden md:w-max">
              <nav>
                <ul role="tablist" class="relative flex flex-row p-1 rounded-lg bg-blue-gray-50 bg-opacity-60">
                  <li 
                  (click)="checkSelect('all')"
                  [routerLink]="['/dashboard/products']"
                    role="tab"
                    class="relative flex items-center justify-center w-full h-full px-2 py-1 font-sans text-base antialiased font-normal leading-relaxed text-center bg-transparent cursor-pointer select-none text-blue-gray-900"
                    data-value="all">
                    <div class="z-20 text-inherit">
                      &nbsp;&nbsp;All&nbsp;&nbsp;
                    </div>
                    <div 
                    *ngIf="styleAll"
                     class="absolute inset-0 z-10 h-full bg-white rounded-md shadow"></div>
                  </li>
                  <a role="tab"
                  (click)="checkSelect('active')"
                  [routerLink]="['/dashboard/products/desactivate-products']"
                    class="relative flex items-center justify-center w-full h-full px-2 py-1 font-sans text-base antialiased font-normal leading-relaxed text-center bg-transparent cursor-pointer select-none text-blue-gray-900"
                    data-value="monitored">
                    <div 
                    class="z-20 text-inherit">
                      Desactivados
                    </div>
                    <div 
                    *ngIf="styleActive"
                     class="absolute inset-0 z-10 h-full bg-white rounded-md shadow"></div>
                  </a>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2 shrink-0 sm:flex-row ">
          <button
            class="flex select-none items-center gap-3 rounded-lg bg-gray-900 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5m8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
            </svg>
            Add product
          </button>
        </div>
      </div>
    </div>
    <div class="p-6 px-0 overflow-scroll">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

