<main class="h-full w-full flex justify-center items-center ml-5">
  <div class="relative flex flex-col w-full h-full text-gray-700 bg-white shadow-md rounded-xl bg-clip-border">
    <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white rounded-none bg-clip-border">
      <div class="flex items-center justify-between gap-8 mb-8">
        <div>
          <h5
            class="block font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
            Products
          </h5>
          <p class="block mt-1 font-sans text-base antialiased font-normal leading-relaxed text-gray-700">
            Todos los productos registrados en el sistema 
          </p>
          <div class="flex flex-col items-center justify-between gap-4 md:flex-row relative z-50">
              <div style="height: 10vh;"></div>
          </div>
        </div>
        <div class="flex flex-col gap-2 shrink-0 sm:flex-row ">
          <div class="block w-full overflow-hidden md:w-max">
            <nav>
              <ul role="tablist" class="relative flex flex-row p-1 rounded-lg bg-blue-gray-50 bg-opacity-60" sty>
                <li 
                (click)="checkSelect('all')"
                [routerLink]="['/dashboard/products']"
                  role="tab"
                  class="relative flex items-center justify-center w-full h-full px-2 py-1 font-sans text-base antialiased font-normal leading-relaxed text-center bg-transparent cursor-pointer select-none text-blue-gray-900"
                  data-value="all">
                  <div class="z-20 text-inherit">
                    &nbsp;&nbsp;All&nbsp;&nbsp;
                  </div>
                  <div 
                  *ngIf="styleAll"
                   class="absolute inset-0 z-10 h-full bg-white rounded-md shadow"></div>
                </li>
                <li role="tab"
                (click)="checkSelect('active')"
                [routerLink]="['/dashboard/products/desactivate-products']"
                  class="relative flex items-center justify-center w-full h-full px-2 py-1 font-sans text-base antialiased font-normal leading-relaxed text-center bg-transparent cursor-pointer select-none text-blue-gray-900"
                  data-value="monitored">
                  <div 
                  class="z-20 text-inherit">
                    Desactivados
                  </div>
                  <div 
                  *ngIf="styleActive"
                   class="absolute inset-0 z-10 h-full bg-white rounded-md shadow"></div>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="p-6 px-0 overflow-scroll ">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

