<app-global-loading *ngIf="isLoading" />
<form class="flex items-center min-h-screen px-4" [formGroup]="updatePetForm" (ngSubmit)="updatePet()">
  <div class="mx-auto w-full max-w-sm space-y-6">
    <div class="space-y-2 text-center">
      <div class="space-y-4">
        <h1 class="text-3xl font-bold">Agrega tu mascota.</h1>
        <div class="space-y-2">

          <div class="alert" *ngIf="backendErrors">
            <div class="text-red-500" *ngFor="let error of backendErrors | keyvalue" [@shake]="error">
              {{ error.value }}
            </div>
          </div>

          <label for="name"
                 class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">
            Nombre:</label>
          <input name="name" type="text" id="name"
                 formControlName="name"
                 class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                 placeholder="Nombre aquí">
          <div class="alert"
               *ngIf="updatePetForm.controls['name'].invalid && (updatePetForm.controls['name'].dirty || updatePetForm.controls['name'].touched)">
            <div
              [@shake]="updatePetForm.controls['name'].errors?.['required']"
              *ngIf="updatePetForm.controls['name'].errors?.['required']">El nombre es requerido.
            </div>
            <div
              [@shake]="updatePetForm.controls['name'].errors?.['minlength']"
              *ngIf="updatePetForm.controls['name'].errors?.['minlength']">
              El nombre debe tener al menos 4 caracteres.
            </div>
          </div>
        </div>

        <div class="space-y-2">
          <select formControlName="gender"
                  class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50">
            <option value="Hembra">Hembra</option>
            <option value="Macho">Macho</option>
          </select>
          <div class="alert"
               *ngIf="updatePetForm.get('gender')?.invalid && (updatePetForm.get('gender')?.touched)">
            <div
              [@shake]="updatePetForm.get('gender')?.errors?.['required']"
              *ngIf="updatePetForm.get('gender')?.errors?.['required']">El genero es requerido.
            </div>
          </div>
        </div>

        <div class="space-y-2">
          <select formControlName="specie_id"
                  class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50">
            <option *ngFor="let specie of speciesR?.species" [value]="specie.id">
              {{ specie.specie_name }}
            </option>
          </select>
          <div class="alert"
               *ngIf="updatePetForm.get('specie_id')?.invalid && (updatePetForm.get('specie_id')?.touched)">
            <div
              [@shake]="updatePetForm.get('specie_id')?.errors?.['required']"
              *ngIf="updatePetForm.get('specie_id')?.errors?.['required']">La especie es requerida.
            </div>
          </div>
        </div>

        <div class="space-y-2">
          <button [disabled]="!updatePetForm.valid || isLoading"
                  [ngClass]="{'bg-gray-500': !updatePetForm.valid || isLoading, 'bg-[#1da1f2] hover:bg-gray-500': updatePetForm.valid || !isLoading}"
                  type="submit"
                  class="bg-slate-950 text-white inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full">
            Actualizar
          </button>
        </div>
        <div class="mt-4 text-center text-sm">
          <p class="text-gray-500 dark:text-gray-400"><a class="text-accent" routerLink="/dashboard/user/pets">Cancelar</a></p>
        </div>
      </div>
    </div>
  </div>
</form>
