<div class="h-full w-full flex justify-center items-center">
  <main class="grid  screen w-full" style="height: 90%;">
    <section class="top">
      <app-statistic-card/>
      <app-statistic-card/>
      <app-statistic-card/>
    </section>
    <section class="bottom">
      <section class="rounded-lg border bg-card text-card-foreground shadow-sm" >
  
      </section>
      <section class="rounded-lg border bg-card text-card-foreground shadow-sm" >
  
      </section>
    </section>
  </main>
</div>